html, body {
            
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

section {
            padding: 0 calc(50% - 590px);
        }
header{
    
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    
}
header a {
    color: #212121;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 4px;
    
  }
  header a:hover {
    background-color: #FBC02D;
    color: #212121;
  }
  
  header a.active {
    background-color: #FBC02D;
  }
.position{
    
}
/* анимация появления */
#mother-fucking-id-1 {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
#mother-fucking-id-2 {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
#mother-fucking-id-1, #mother-fucking-id-2, #silhouettes img {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
#mother-fucking-id-1, #mother-fucking-id-2 {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
#mother-fucking-id-1 {
    background-image: url(../images/dubay.png);
    right: 48%;
}
#mother-fucking-id-2 {
    background-image: url(../images/pey.png);
    left: 48%;
}
#mother-fucking-id-1, #mother-fucking-id-2 {
    width: 100%;
    height: 100%;
    max-width: 350px;
    display: block;
    background-size: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}
#mother-fucking-id-1, #mother-fucking-id-2, #silhouettes img, #strap, #topbar {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
#silhouettes {
    position: relative;
    display: inline-block;
    width: 60%;
    max-width: 350px;
    margin: 0 auto 0.5em;
    background: url(../images/tem.png) no-repeat center bottom;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
#silhouettes img {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}
#silhouettes img {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
#silhouettes img {
    max-width: 350px;
    width: 100%;
    position: relative;
    z-index: 2;
    opacity: 0;
}
.main{
    background-color: #F9F4ED;
}
.obomne h1{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px dotted gray;
    padding-bottom: 30px;
}
.obomne p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}
.profil-section{
    background: #ffffff;
}
.profil{
    display: flex;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}
.profil-section h1{
    font-size: 50px;
    padding-top: 40px;
    border-bottom: 1px dotted gray;
    padding-bottom: 30px;
}
.iOne p{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.iTwo{
    background-image: url("../images/profil.png");
    background-repeat: no-repeat;
    width: 150em;
    background-size: cover;
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    box-shadow: 0 0 7px #666;;
}
.iThree p{
    width: 150%;
}
.divnavbar{
    position: absolute;
    top: 100%;
    
}
.navbar{
    border-radius: 5px;
    border: 0px;
    background-color: #222222;
    position: fixed;
    top: 99px;
    right: 1%;
    width: 85px;
    z-index: 999;
    display: block;
    padding: 10px 15px 0px;
    padding-left: 10px;
    
}
.navbar .close-button{
    right: -7px;
    top: 1px;
    background-color: red;
}

.navik{
    float: none;
    padding-left: 0;
}
.perexod{
    display: block;
}

.perexod a{
    display: block;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 20px;
}
.perexod a:hover{
    color: #01ef96;
    background-color: #006bb3;
    margin-right: -14px;
    margin-left: -10px;
}

/* .perexod a:focus{
    background: #22A39F;
    color: #FFFFFF;
    margin-right: -14px;
    margin-left: -10px;
} */
.navigation{
    padding-left: 150px;
    /* padding-right: 80px; */
    /* margin-left: auto; */
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zvonok{
    padding-left: 80px;
    /* padding-right: 80px; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
}
.tel{
    color: white;
}
nav a:hover{
    text-decoration: none;
}
.cheking{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: black;
    
    transition: .2s;
    color: white;
}
.cheking:hover{
    background-color: #069df5;
    cursor: pointer;
    box-shadow: 0 6px 0 red;
}
.cheking:active{
    transform: translateY(5px);
    box-shadow: 0 3px 0 #02f55f;
}

.container-center{
    height: 500px;
    background-image: url("../images/q.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 560px 450px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: -200px;

}
.position {
  /* animation:  
  typing 1.5s steps(30, end),
  blink-caret .7s step-end infinite; */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.container-one{
    height: 30px;
    margin-top: 150px;
    padding-left: 300px;
    background: linear-gradient(to right, #06559b 10%,
     #01ef96 50%, #06599b 90%, #400279 50%);
     background-size: 200% auto;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: animate 2s linear infinite;
}
@keyframes animate{
    to{
        background-position: 200% center;
    }
}
.container-two{
    height: 20px;
    padding-left: 300px;
    padding-bottom: 10px;
}
.it{
        font: 500 2em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(../images/animone.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;      
}
    @-webkit-keyframes aitf {
	    0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}
.green_btn{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-left: 300px;
    margin-top: 25px;
    background-color: blue;
    cursor: pointer;
}
.green_btn:hover{
    background-color:#006bb3;
}
.green_btn a{
    color: white;
    text-decoration: none;
}
.green_btn a:hover{
    color: white;
    text-decoration: none;
}
.container-servis{
    height: 350px;
    border-bottom: 1px dotted blue;
    margin-bottom: 10px;
    margin-top: 50px;
    border-top: 1px dotted #f26447;
}
.servises{
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.zag{
    display:flex;
    justify-content: center;
}
.servises > div{
    background-position: left top;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
.servises-one{
    background-image: url("../images/1.png");    
}
.servises-two{
    background-image: url("../images/2.png");
}
.servises-three{
    background-image: url("../images/3.png");
}
.servises-four{
    background-image: url("../images/4.png");
}
.btn-btn{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 0 auto;
    display: block;
    background-color: blue;
    cursor: pointer;
    margin-bottom: 20px;
}
.btn-btn:hover{
    background-color: #006bb3;
}
.btn-btn > a{
    color: white;
    text-decoration: none;
}
.study{
    height: 700px;
    background-image: url("../images/fonovaya.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    background-attachment: fixed;/*при скроле двигается картинка*/
}
.study h1{
    color: white;
    padding-top: 50px;
}
.imgStudy{
    background-image: url("../images/Alex.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1700px;
    height: 310px;
    margin-right: 100px;
    margin-top: 100px;
    margin-left: 100px;
    filter: blur(0px);/*Размытие*/
    background-position: right center;
}
.textStudy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}
.text_text h3{
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
.btn_study{
    background-color: #1B232B;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #1B232B;
    display: block;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 6px 0 red;
    transition: .3s;
}
.btn_study a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.btn_study:active{
transform: translateY(5px);
box-shadow: 0 3px 0 #02f55f;
}
.conteiner-portfolio{
    margin-top: 50px;
}
.portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.portfolio > div {
    background-position: left top;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.portfolio-one{
    background-image: url("../images/лаз.png");
    cursor: pointer;
}
.portfolio-two{
    background-image: url("../images/вес.jpg");
    cursor: pointer;
}
.portfolio-three{
    background-image: url("../images/zal.png");
    cursor: pointer;
}
.zag2{
    display: flex;
    justify-content: center;
}

.container-mySystem{
    height: 700px;
    background-image: url("../images/mySystem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    background-attachment: fixed;/*при скроле двигается картинка*/
}
.container-mySystem h1{
    color: white;
    font-size: 40px;
    padding-top: 50px;
}
.mySystem{
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.system{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.system a{
    color: white;
    font-size: 30px;
    margin-top: 25px;
    text-decoration: none;
}

.container-popup{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #000000a8;
}
.popup{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    position: relative;
}
.popup h2{
    margin-top: 0;
}
.popup input{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.close-button{
    position: absolute;/*это чтобы накладывался на релатив и был справа*/
    height: 16px;
    width: 16px;
    top: 10px;
    right: 10px;
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
}

.container-video{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #000000a8;
}
.video-one,.video-two,.video-three{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    position: relative;
}
video{
    width: 800px;
    height: 470px;
    margin-top: -5px;
    
}
@media (min-width: 1800px){
    .container-center {
           margin-right: 250px;
    }
}


strong{
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    /* width: 100vw; */
    color: #fff;
    padding-bottom: 30px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 0px;
    
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize; 
    
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: center;
    
}
.footer-bottom p{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }
 .footer-menu{
    margin-right: 50px;
    display: flex;
    margin-top: 40px;
  }
  
  .footer-menu ul{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-menu ul li{
  padding-right: 20px;
  display: block;
  }
  
  .footer-menu ul li a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
    
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }
  @media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }

